# ===============================
# PYTHON
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# VIRTUAL ENVIRONMENTS
# ===============================
venv/
.venv/
env/
ENV/

# ===============================
# JUPYTER
# ===============================
.ipynb_checkpoints/

# ===============================
# DATASETS (IMPORTANT)
# ===============================
dataset/
Imagenes/
data/
*.jpg
*.png

# ===============================
# MODEL FILES
# ===============================
*.pt
*.pth
*.h5
*.ckpt
checkpoints/
weights/

# ===============================
# LOGS & OUTPUTS
# ===============================
logs/
runs/
wandb/
tensorboard/

# ===============================
# ENV FILES
# ===============================
.env
.env.*

# ===============================
# IDE / EDITOR
# ===============================
.vscode/
.idea/

# ===============================
# OS FILES
# ===============================
.DS_Store
Thumbs.db

# ===============================
# TEMP FILES
# ===============================
*.log
*.tmp
*.bak
